<ul class="nav_elements main_nav">
	<li><a href="{{ path('ecommerce_homepage') }}">Home</a></li>
	<li><a href="{{ path('ecommerce_planning') }}">Planning</a></li>
	<li><a href="{{ path('ecommerce_clients') }}">Clients</a></li>
	<li><a href="{{ path('ecommerce_suppliers') }}">Suppliers</a></li>
	<li><a href="{{ path('ecommerce_contact') }}">Contact</a></li>
	<li><a href="{{ path('ecommerce_about') ~ '.json' }}">About</a></li>
</ul>